<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="LOGSTASH_EVENT" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${LOGSTASH_HOST:-logstash}:4560</destination>
      
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      	<customFields>{"service": "analysis-service"}</customFields>
      </encoder>
  </appender>

  <appender name="LOGSTASH_REQUEST" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
  	<destination>${LOGSTASH_HOST:-logstash}:4561</destination>
  	
  	<encoder class="net.logstash.logback.encoder.LogstashEncoder">
      	<customFields>{"service": "analysis-service"}</customFields>
      </encoder>
  </appender>
  
  <logger name="net.explorviz.requestlog" level = "INFO" additivity = "false">
    <appender-ref ref="LOGSTASH_REQUEST" />
  </logger>


  <root level="TRACE">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="LOGSTASH_EVENT" />
  </root>
</configuration>