target/
.idea/
**/out

build
.gradle


bin
.classpath
**/out/

.project
.idea/

.DS_Store

.gitmodules

**/.settings/*

*/.settings/*
!*/.settings/edu.umd.cs.findbugs.core.prefs
!*/.settings/qa.eclipse.plugin.checkstyle.prefs
!*/.settings/qa.eclipse.plugin.pmd.prefs
!*/.settings/org.eclipse.jdt.ui.prefs
!*/.settings/org.eclipse.jdt.core.prefs

.ruleset

**/\.checkstyle
