xtend-gen
target/

build
.gradle

bin
.classpath
.project

.DS_Store

.gitmodules

.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.xtend.core.Xtend.prefs
.settings/org.eclipse.xtext.java.Java.prefs