<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" level = "INFO" additivity = "false">
    <target>System.out</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${LOGSTASH_HOST:-logstash}:4560</destination>
      
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      	<customFields>{"service": "landscape-service"}</customFields>
      </encoder>
  </appender>


  <root level="DEBUG">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="LOGSTASH" />
  </root>
</configuration>